<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>The MOBILE Gallery</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/icons8-iphone-x-24.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Day - v2.2.1
  * Template URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <div style="background-color: black;" id="topbar" class="d-none d-lg-flex align-items-center fixed-top ">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i> <a href="mailto:contact@example\.com">shubhamnigam2222@gmail.com</a>
        <i class="icofont-phone"></i> +91 9340351558
      </div>
      <div class="social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header style="background:  black;" id="header" class="fixed-top ">
    <div  class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">Admin Panel</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/admin/adminHome">Home</a></li>
          <li><a href="#"></a></li>
        
          
          <li class="drop-down"><a href="">Update Password</a>
            <ul>
              <li>
                <form action="" method="POST">
                  
                  <div style="padding: 15px;"> 
                    <center>  
                      <img style="border-radius: 50%;height: 60px; width: 60px;" src="/img/img_avatar.png" alt="Avtar" class="avtar">
                   <br><h5><u>Update Password</u></h5>
                    </center>
                   
                    <input style="margin: 5px;" type="password" placeholder="old password" name="password" required>
                      <br>
                      <input style="margin: 5px;" type="password" placeholder="New Enter Password" name="password" required>
                      <br>
                      <input style="margin: 5px;" type="password" placeholder="Confirm Password" name="password" required>
                      <br>
                      <center>
                      <input style="margin: 5px;" type="submit" value="Update">
                    </center>
                  </div>
              </form>
              </li>
            </ul> 
          </li>

          <li>
              <ul>
                  <a href="">LogOut</a>
              </ul>
          </li>

          <li>
              <ul>
                  <a href="/admin/adminHome">Back</a>
              </ul>
          </li>
          
        
          

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->


  <center>
      <h1 style="color: black; margin-top:8% ;">Mail Support</h1>
          <div style="margin-top: 3%;" class="col-lg-6">
              
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          

          </div>
        </center>