
<html>
    <head>
        <title>Admin Login Page</title>
        <img style="height: 20%;" src="/img/1+.png" alt="">
    </head>
    <body style="background-image:url(/img/hero-bg.jpg); ">
     
        <form action="/admin/login" method="POST">
                  
            <div style="padding: 15px;"> 
              <center>  
                <img style="border-radius: 50%;height: 100px; width: 100px;margin-top: 2%; " src="/img/admin1.jpg" alt="Avtar" class="avtar">
             <br><h1><u>Login</u></h1>
              </center>
             
              <input style="margin-left: 45%; height: 5%;" type="email" placeholder="Enter Email" name="email" required>
                <br><br>
                <input style="margin-left: 45%;height: 5%;" type="password" placeholder="Enter Password" name="password" required>
                <br><br>
                <input style="margin-left: 45%;" type="checkbox" checked="checked" name="remember">Remember me
              <br><center>
                <input style="margin: 5px;height: 28px; width: 100px;" type="submit" value="Login">
                <input style="margin: 5px; width: 100px;height: 28px;" type="reset" value="Reset">
              </center>
                <center>
                <a href="#">Forgot Password</a>
              </center>
              
            </div>
           
        </form>
    </body>
</html>
